Session 3
========

Today we'll continue our discussion of Python data types, learning a bit more about strings and then discussing three new built-in Python data types that can contain other Python data. Our big themes for today are

  * Type conversion
  * Formatted output and the `print` function
  * Indexing and slicing strings
  * The `len` function
  * Collection types: lists, tuples, and dictionaries
  * Tuple unpacking
  * The `for` loop

Type Conversion
----

The basic Python type names may be used as functions to allow for changing between types.

In [ ]:
# Convert a floating-point number into a string
str(3.14159)

In [ ]:
int(3.14159)

In [ ]:
type(int(3.14159))

In [ ]:
bool(0)

In [ ]:
bool(0.1)

In [ ]:
float('2.71828')

The `print` and `input` functions
-----

When you ask Python to type out the value of a variable, you are given the "representation" of the value of the variable. So, for example, when we looked at the values of our strings (above), they have quotation marks. Also, we could only see our values when we asked at the end of a cell in Jupyter Notebook.

The `input` function allows us to write code that asks the user for some input. The user's input is returned as a string.

In [1]:
# Remember our function for converting Celsius to Fahrenheit?

def celsius_to_fahrenheit(degrees_c):
    '''
    Put your code in here, replacing the 'pass' keyword ('pass' implements a 
    function that does nothing and returns nothing)
    '''
    degrees_f = 1.8 * degrees_c + 32
    return degrees_f

In [2]:
# We can use Python as a calculator, as we did last Thursday

celsius_to_fahrenheit(20)

68.0

In [3]:
# We can also print our results utilizing the `print` function

print(celsius_to_fahrenheit(20))

68.0

In [4]:
# The advantage of the `print` function is that we can put more information,
# for example

print("Tomorrow's high temperature will be", celsius_to_fahrenheit(20))

Tomorrow's high temperature will be 68.0

In [5]:
# We can use the `input `function to read information from the user
# `input` takes a string as an argument, which is used as a prompt for the user.

user_name = input('Pease enter your name: ')
print('Your name is', user_name)

Pease enter your name: vic
Your name is vic

The `len` function
------------

Imagine that you have code that has read a text string and you would like to know the number of characters in the string. The function `len` returns the length of the string. We'll see later today that `len` can be utilized with lots of other Python data types.

In [6]:
s = 'This is a moderately long string'
s

'This is a moderately long string'

In [7]:
len(s)

32

In-class Exercise
----------

In the cell below, write Python code that asks the user to enter some text, then prints a report of the form

`You entered a string with x characters in it`

where `x` is the length of the string.

In [8]:
user_text = input('Please enter some text: ')
print('You entered a string with', len(user_text), 'characters in it')

Please enter some text: Kaboom
You entered a string with 6 characters in it

Indexing with Text Strings
------------

We can extract single characters from text strings by *indexing*. The index is a number entered between two square brackets, e.g. `[i]` for character number `i`. Indexing is *zero-based*, that is, the first character in the string is at index `0`. We can also index backwards from the end of the string, with negative index values. Index `-1` is the last character in the string, index `-2` is the next-to-the-last, etc.

In [9]:
# Here's a string to play with
s = 'This is a moderately long string'

# Here we'll extract two characters from the string... note that we can use the 
# `print` statement to print out more than one line from a Jupyter notebook cell.
print('The first character of the string is:', s[0])
print('The sixth character of the string is:', s[5])

The first character of the string is: T
The sixth character of the string is: i

In [10]:
# Indexing from the end of the string
print('The last character in the string is:', s[-1])

The last character in the string is: g

In [11]:
type(s[-1])

str

Slicing a string
----

We can 'slice' a string between the positions `i` and `j` using the indexing syntax `[i:j]`. Note that the slice ends just before positon `j`. If we omit one index or the other, it defaults to the beginning or end of the string. 

We can also add a third entry to the slice, using the syntax `[i:j:k]`, where `k` is the spacing in the slice.

In [12]:
# Retrieve the first five characters in our string
s[0:5]

'This '

In [13]:
# Another way to retrieve the first five characters in our string
s[:5]

'This '

In [14]:
# Retrieve the last five characters in the string
s[-5:]

'tring'

In [15]:
# Fectch every other character from the first 10 entries in the string
s[:10:2]

'Ti sa'

In [16]:
# Every other character in the string
s[::2]

'Ti samdrtl ogsrn'

In [17]:
s

'This is a moderately long string'

f-strings (or 'format' strings)
----

To simplify printed output, f-strings first appeared in Python 3.6. To make one, put an 'f' before the string. 

Inside an f-string, you may put data fields to be formatted, between curly braces {}. Any valid Python expression may be placed within the string.

In [18]:
print(f"Tomorrow's high temperature will be {celsius_to_fahrenheit(20)} degrees")

Tomorrow's high temperature will be 68.0 degrees

In [19]:
f"Tomorrow's high temperature will be {celsius_to_fahrenheit(20)} degrees"

"Tomorrow's high temperature will be 68.0 degrees"

Lists
---

A python 'list' is an object that contains other objects in sequence. To make a list, we write the items to be included in the list between square brackets and separated by commas. All the indexing and slicing operations that we discussed for strings, plus the `len` function, all work on lists. 

In addition, an item in the list may be the target of an assignment statement. 

It is not necessary for all the items in a list to be of the same type.

In [20]:
# Here's a list of four strings
the_list = ['ab', 'cd', 'ef', 'gh', 'ij', 'kl', 'mn']

the_list

['ab', 'cd', 'ef', 'gh', 'ij', 'kl', 'mn']

In [21]:
# How many items are there in the list?
len(the_list)

7

In [22]:
# Fetch the first item in the list
the_list[0]

'ab'

In [23]:
# Fetch the last item in the list
the_list[-1]

'mn'

In [24]:
# Fetch the first 3 items, as a smaller list
the_list[:3]

['ab', 'cd', 'ef']

In [25]:
# Make a list containing an int, a float, and a string
mixed_list = [4, 2.9, 'hello']

In [26]:
type(mixed_list[0])

int

In [27]:
type(mixed_list[1])

float

In [28]:
type(mixed_list[2])

str

In [29]:
# Use indexing to change the first entry in `the_list` to 'yz'

the_list[0] = 'yz'
the_list

['yz', 'cd', 'ef', 'gh', 'ij', 'kl', 'mn']

In [30]:
# One use of `None` might be to mark missing items in a list

animals = ['cow', 'pig', None, 'goat']
animals

['cow', 'pig', None, 'goat']

Tuples
---

A tuple is similar to a list, with the items placed between parentheses.

In [31]:
# Make a tuple

the_tuple = ('a', 'bf', 10, -1.34)
the_tuple

('a', 'bf', 10, -1.34)

In [32]:
# Last item in the tuple

the_tuple[-1]

-1.34

In [33]:
# Extract a slice from the tuple as a tuple

the_tuple[2:4]

(10, -1.34)

Tuple Unpacking
----

We may "unpack" a tuple into variables that contain each of the items in the tuple. This also works with lists, but that's less commonly used.

In [34]:
# Unpack the tuple by assiging to more than one variable
a, b, c, d = the_tuple

print(a, b)

a bf

In [35]:
# One cool use for unpacking is swapping values

a = 4
b = -4
print(f'Before: a={a} and b={b}')

a, b = b, a
print(f'After:  a={a} and b={b}')

Before: a=4 and b=-4
After:  a=-4 and b=4

Immutability
------

Tuples are *immutable*, meaning that entries in the tuple may not be changed by indexing. This ensures that data that are stored as a tuple may not be modified later. 

Strings are also immutable -- you cannot change any of the characters in the string.

In [36]:
# Can't change an entry in a tuple!

the_tuple[-1] = 3.1415926

TypeError: 'tuple' object does not support item assignment

In [37]:
# Can't change an entry in a string, either

s = 'this is a moderately long string'

s[0] = 'T'

TypeError: 'str' object does not support item assignment

In [39]:
# A tuple is immutable, but if it contains a mutable object, that object can be changed...

weird_tuple = (1, 3, "fred", [1, 2, 3])

In [40]:
weird_tuple[1] = 5

TypeError: 'tuple' object does not support item assignment

In [41]:
weird_tuple[-1][0] = 999

In [42]:
weird_tuple

(1, 3, 'fred', [999, 2, 3])

In [44]:
a, b, c, d = weird_tuple
d[-1] = 1000

In [45]:
weird_tuple

(1, 3, 'fred', [999, 2, 1000])

Dictionaries
------

One of Python's most powerful built-in features is the `dictionary` data type. A dictionary allows the programmer to store data *values* that are indexed using *keys*. A distionary is written as a number of `key:value` pairs between curly braces `{}`. Items may be changed within a dictionary (dictionaries are mutable). 

An important feature of dictionaries is that the keys must be unique.

You'll discover that dictionaries will be used a LOT in your processing scripts.

In [46]:
# Make a dictionary with the numbers of days in each month

days_in_month = {'jan': 31, 'feb':28, 'mar':31, 'apr':30, 'may':31, 'jun':30,
                'jul': 31, 'aug':31, 'sep':30, 'oct':31, 'nov':30, 'dec':31}
days_in_month

{'jan': 31,
 'feb': 28,
 'mar': 31,
 'apr': 30,
 'may': 31,
 'jun': 30,
 'jul': 31,
 'aug': 31,
 'sep': 30,
 'oct': 31,
 'nov': 30,
 'dec': 31}

In [47]:
# How many days are there in May?
days_in_month['may']

31

In [49]:
# Whoops! It's a leap year!

days_in_month['feb'] = 29
days_in_month

{'jan': 31,
 'feb': 29,
 'mar': 31,
 'apr': 30,
 'may': 31,
 'jun': 30,
 'jul': 31,
 'aug': 31,
 'sep': 30,
 'oct': 31,
 'nov': 30,
 'dec': 31}

Looping Using the `for` Loop
------

Python allows for code that allows the user to traverse a collection type (list, tuple, dictionary) easily. We'll use the `for` loop a lot in our class. In a `for` loop, the programmer provides an *index variable* that is updated each time through the loop with a new entry from the container that is being processed.

In [50]:
# make a list of words and print out their lengths. Note that 's' is
# the index variable in the loop. Each time through the loop, it is 
# updated with an entry from the list.

strings = ['this', 'is', 'a', 'list', 'of', 'words']
for s in strings:
    print(f'There are {len(s)} characters in {s}')

There are 4 characters in this
There are 2 characters in is
There are 1 characters in a
There are 4 characters in list
There are 2 characters in of
There are 5 characters in words

In [51]:
# You can use a for loop with a string

for s in "rutabega":
    print(s)

r
u
t
a
b
e
g
a

In [52]:
weird_tuple

(1, 3, 'fred', [999, 2, 1000])

In [53]:
for item in weird_tuple:
    print(item)

1
3
fred
[999, 2, 1000]

In [54]:
days_in_month

{'jan': 31,
 'feb': 29,
 'mar': 31,
 'apr': 30,
 'may': 31,
 'jun': 30,
 'jul': 31,
 'aug': 31,
 'sep': 30,
 'oct': 31,
 'nov': 30,
 'dec': 31}

In [56]:
for key in days_in_month:
    print(key, days_in_month[key])

jan 31
feb 29
mar 31
apr 30
may 31
jun 30
jul 31
aug 31
sep 30
oct 31
nov 30
dec 31

In [60]:
# Calling a string method

s = 'this is a    moderately long   string'

s.upper()

'THIS IS A    MODERATELY LONG   STRING'

In [61]:
s

'this is a    moderately long   string'

In [62]:
s.split()

['this', 'is', 'a', 'moderately', 'long', 'string']

In [63]:
s.split('s')

['thi', ' i', ' a    moderately long   ', 'tring']

In [64]:
words = s.split()

In [65]:
words

['this', 'is', 'a', 'moderately', 'long', 'string']

In [68]:
'-'.join(words)

'this-is-a-moderately-long-string'

In [71]:
# Using the values method of a dictionary

for days in days_in_month.items():
    print(days)

('jan', 31)
('feb', 29)
('mar', 31)
('apr', 30)
('may', 31)
('jun', 30)
('jul', 31)
('aug', 31)
('sep', 30)
('oct', 31)
('nov', 30)
('dec', 31)

In [73]:
for k, v in days_in_month.items():
    print(f'there are {v} days in {k}')

there are 31 days in jan
there are 29 days in feb
there are 31 days in mar
there are 30 days in apr
there are 31 days in may
there are 30 days in jun
there are 31 days in jul
there are 31 days in aug
there are 30 days in sep
there are 31 days in oct
there are 30 days in nov
there are 31 days in dec